body {
    background-color: #949494;
}

h1 {
    color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 90px;
    background-color: #303030;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ed9c40;
}

p {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6d6d6;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 1px;
    background-color: #949494;
    padding: 0%;
}

.grid-container1 > div {
    background-color: #d6d6d6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 200px 100px 100px;
    gap: 1px;
    background-color: #949494;
    padding: 1px;
}

.grid-container2 > div {
    background-color: #d6d6d6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.grid-container3 {
    display: inline-block;
    width: 403px;
    min-height: 105px;
    background-color: #303030;
}

.grid-container3 > div {
    color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 90px;
    background-color: #303030;
}

.btn {
    border: inherit;
    background-color: inherit;
    font-size: inherit;
    display: inline-block;
    color: inherit;
    width: 100px;
}

#orange {
    background-color: #ed9c40;
    color: white;
}

#zero {
    width: 200px;
}